.orange-bg{
    background-color: #fceae8;
    border-radius: 4px;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 15px;
    cursor: pointer;

}
.cat1, .cat2, .cat3{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: lightblue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.shoes div .card{
    box-shadow: 10px 10px 20px lightgray;
    border: none;
}
.card-footer{
    border: none;
    background-color: white;
}
.backpack div .card{
    box-shadow: 10px 10px 20px lightgray;
    border: none;
}
.touch{
    background-color: lightgoldenrodyellow;
    height: 300px;
}
footer{
    text-align: center;
    font-size: 12px;
}